<div class="form-group mt-5 col-md-8 mx-auto" style="max-width: 425px">
  <form action="/" method="GET" class="mt-3">
    <select class="form-select" name="category" id="category-filter" data-value="{{category}}" onchange="submit()">
      <option value="" selected>全部類別</option>
      {{#each categories}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </form>
</div>

<div class="row justify-content-center mt-5">
  <div class="row col-md-8 col-lg-6 col-xl-5 justify-content-around">
    <div class="col-auto" style="font-size: 25px;">總金額：</div>
    <div class="col-auto text-end text-warning" style="font-size: 100px;">{{totalAmount}}</div>
  </div>
</div>

<main>
  <div class="row">
    {{#each records}}
    <div class="col-0 col-md-2 col-lg-3 col-xl-4"></div>
    <div class="col-8 col-md-7 col-lg-5 col-xl-5" style="max-width: 425px">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="col-md-1 align-middle">
              <i class="fas {{this.category.icon}} fa-3x"></i> 
            </td>
            <td class="col-md-6">
              <p class="fs-3">{{this.name}}</p> 
              <p class="fs-6">{{showDate this.date}}</p>
            <td class="col-md-2 fs-3 align-middle">{{this.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 col-md-3 col-lg-2 d-flex justify-content-around align-items-center">
      <a href="/records/{{this._id}}/edit" class="btn btn-info">Edit</a>
      <form action="./records/{{this._id}}?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
    {{/each}}
  </div>
</main>

<div class="row justify-content-center mt-3">
  <a href="./records/new" class="btn btn-success btn-lg col-5" style="max-width: 290px;">新增支出</a>
</div>

<script>
  const categoryFilter = document.querySelector('#category-filter')
  categoryFilter.value = categoryFilter.dataset.value
  categoryFilter.addEventListener('change', () => categoryFilter.parentElement.submit())
</script>